@import './utilities/_functions';
@import './utilities/_mixins';
@import './utilities/_var';

body {
  color: $mainColor;
  background-image: url('../images/pug.webp');
  font-family: "Roboto";
  font-size: 20px;
}